@page
@model Intex.Pages.OrderUnderReviewModel
@{
}

<!--Page displayed when the order is marked as fraudulent-->

<div class="filler" style="height: 100px;"></div>

<div class="container" style="min-height: 100vh; margin-top: 50px;">
    <h2 class="ltext-108 cl8 txt-center">Order Request Sent</h2>

    <p class="stext-113 cl6 txt-center p-b-26">You will be notified when your order has been fully processed.</p>

    <p class="stext-113 cl6 txt-center p-b-26">Thank you for shopping us!</p>
</div>
