@page
@model Intex.Pages.OrderConfirmationModel
@{
}
<!--Page displayed if model is approved-->

<div class="filler" style="height: 100px;"></div>

<div class="container" style="min-height: 100vh; margin-top: 50px;">
    <h2 class="ltext-108 cl8 txt-center">Successful Order Submission</h2>

    <p class="stext-113 cl6 txt-center p-b-26">Thank you for shopping with us!</p>
</div>

