@model Intex.Models.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "Admin - Edit User";
}

<div class="filler" style="height: 84px;"></div>
<div style="    margin: auto;
                max-width: 75%;
                background-color: #ecb75970;
                padding: 1rem;
                margin-bottom: 3rem;
                border-radius: 10px;">
<h1 style="margin-bottom: 1rem;
               text-align: center;">Edit User</h1>

<form asp-action="EditUser" method="post" asp-controller="Admin">
    <input type="hidden" asp-for="User.user_id" />
    <div class="form-group">
        <label asp-for="User.username" class="control-label">Email</label>
        <input asp-for="User.username" class="form-control" type="email"/>
        <span asp-validation-for="User.username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.first_name" class="control-label">First Name</label>
        <input asp-for="Customer.first_name" class="form-control" />
        <span asp-validation-for="Customer.first_name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.last_name" class="control-label">Last Name</label>
        <input asp-for="Customer.last_name" class="form-control" />
        <span asp-validation-for="Customer.last_name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.birth_date" class="control-label">Birth Date</label>
        <input asp-for="Customer.birth_date" class="form-control" type="date"/>
        <span asp-validation-for="Customer.birth_date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.country_of_residence" class="control-label">Country of Residence</label>
        <input asp-for="Customer.country_of_residence" class="form-control" />
        <span asp-validation-for="Customer.country_of_residence" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.gender" class="control-label">Gender</label>
        <input asp-for="Customer.gender" class="form-control" />
        <span asp-validation-for="Customer.gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.age" class="control-label">Age</label>
        <input asp-for="Customer.age" class="form-control" type="number"/>
        <span asp-validation-for="Customer.age" class="text-danger"></span>
    </div>
    <div style="    display: inline-flex;
                    gap: 3rem;
                    width: 100%;
                    justify-content: flex-start;
                    flex-direction: row-reverse;">
    <div class="form-group" style="margin: 0;">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <button type="button" class="btn btn-secondary cancel-edit" onclick="history.back();">Cancel</button>
    </div>
</form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
