@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<link rel="stylesheet" type="text/css" href="~/css/Register-Confirmation.css"/>
<div class="filler" style="height: 84px;"></div>

<div class="confirmation-message">
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>