@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="animsition">
    <div class="filler" style="height: 84px;"></div>
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92"
             style="
        background-image: url('@Url.Content("~/assets/images/about-bg6.jpg")');
      ">
        <h2 class="ltext-105 cl0 txt-center" style="text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);">About</h2>
    </section>

    <!-- Content page -->
    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row p-b-148">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">Our Story</h3>

                        <p class="stext-113 cl6 p-b-26">
                            From the humble beginnings of a passionate hobbyist's collection 
                            to the vibrant storefront you see today, our journey has been 
                            nothing short of a Lego® brick road adventure. Aurora Brickwell, 
                            our founder and the creative force behind AuroraBricks®, started 
                            as a simple enthusiast with a dream to share the joy of Lego® 
                            building with the world. Her dedication to gathering and 
                            crafting intricate sets has turned this dream into a bustling 
                            hub for collectors and builders alike.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            Aurora's eye for detail and insistence on quality have allowed
                            us to amass a treasure trove of the most sought-after Lego® 
                            sets and unique creations. Our store is a testament to the 
                            spirit of imagination, offering an escape into a world of 
                            endless possibilities, one brick at a time. We are more than a 
                            store; we are a community of dreamers, creators, and builders 
                            who believe in the power of small pieces to build grand visions.
                        </p>

                    </div>
                </div>

                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor1">
                        <div class="hov-img0">
                            <img src="~/assets/images/about-01.jpg" alt="IMG" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">Our Mission</h3>

                        <p class="stext-113 cl6 p-b-26">
                            Our mission is to inspire and nurture the builder in each of us. 
                            AuroraBricks® is more than a mere marketplace; it's a space where
                            creativity meets craftsmanship. We strive to offer an unmatched 
                            selection of Lego® sets, ranging from the latest releases to rare 
                            collector's items, ensuring that every builder can find the 
                            pieces they need to turn their vision into reality.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            We are committed to empowering our customers with a shopping 
                            experience that is as enjoyable and fulfilling as the 
                            building process itself. Our website is designed to be a 
                            platform where your creativity can take flight, supported 
                            by personalized product recommendations that help you 
                            discover new building horizons.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            For Aurora, it's not just about selling Lego® sets; it's 
                            about building relationships and fostering a community that 
                            shares her passion. We believe that every brick laid in play 
                            is a foundation for learning, growth, and connection. Join 
                            us in building a world where play and imagination pave the 
                            way for innovation and discovery.
                        </p>

                    </div>
                </div>

                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="~/assets/images/about-02.jpg" alt="IMG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>