@model dynamic


	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a asp-controller="Home" asp-action="Product" asp-route-pageNum="1" asp-route-category="Franchise" asp-route-pageSize="10" asp-route-primaryColor="All" asp-route-secondaryColor="All" class="stext-107 cl7 hov-cl1 trans-04">
								Franchise
							</a>

						</li>

						<li class="p-b-10">
						<a asp-controller="Home" asp-action="Product" asp-route-pageNum="1" asp-route-category="Vehicles" asp-route-pageSize="10" asp-route-primaryColor="All" asp-route-secondaryColor="All" class="stext-107 cl7 hov-cl1 trans-04">
							Vehicles
						</a>
						</li>

						<li class="p-b-10">
							<a asp-controller="Home" asp-action="Product" asp-route-pageNum="1" asp-route-category="Minifigures" asp-route-pageSize="10" asp-route-primaryColor="All" asp-route-secondaryColor="All" class="stext-107 cl7 hov-cl1 trans-04">
								Minifigures
							</a>
						</li>

						<li class="p-b-10">
							<a asp-controller="Home" asp-action="Product" asp-route-pageNum="1" asp-route-category="Parts" asp-route-pageSize="10" asp-route-primaryColor="All" asp-route-secondaryColor="All" class="stext-107 cl7 hov-cl1 trans-04">
								Parts
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						SUPPORT
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at<br /> 1 Lego Way, Provo, UT 84606 <br />or call us on (+1) 385 497 5344
					</p>

				</div>

			
				<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30" >
					FOLLOW MY CONTENT
				</h4>

				<p class="stext-107 cl7 size-201">
					Join our community!
				</p>

				<div class="p-t-27">
					<a href="https://www.youtube.com/shorts/x-r-G1qNgHU" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
						<span class="stext-107 cl7 size-201">AuroraBricks</span>
					</a>
					<br />
					<a href="https://www.instagram.com/aurorabricks/" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-instagram"></i>
						<span class="stext-107 cl7 size-201">BricksByAurora</span>
					</a>
					<br />
					<a href="https://www.youtube.com/watch?v=g6LhK0wTemE" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-facebook"></i>
						<span class="stext-107 cl7 size-201">Aurora Brickwell</span>
					</a>
				</div>

			</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
						<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04" type="button" onclick="window.location.reload();">
							Subscribe
						</button>

						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="~/assets/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/assets/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/assets/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/assets/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/assets/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Aurora Brickwell
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>